/*
 extra style
 */
/*
 * variables
 */
h1 {
  font-size: 32px; }

h2 {
  font-size: 26px; }
  h2 .fa {
    color: #4f396f; }

a {
  color: #8060ae; }

.navbar-inverse .navbar-brand {
  color: #ccc; }

.navbar-inverse .navbar-nav > li > a {
  color: #ccc; }

.site-title {
  background: rgba(79, 57, 111, 0.85);
  color: #f0f0f0;
  text-shadow: 1px 1px #333;
  border-bottom: #4f396f; }
  .site-title a {
    color: #f0f0f0;
    text-decoration: underline; }

.section-lead {
  margin: 12px 0;
  line-height: 1.7; }

.section-paragraph {
  margin: 12px 0; }

footer {
  margin: 25px 0 0;
  padding: 50px 0;
  background: #1f162c;
  color: #f0f0f0; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

#information .container {
  background: #ead6e2; }
