/*
 extra style
 */



/*
 * variables
 */
$primary-color: #4f396f;
$information-color: lighten(adjust-hue($primary-color, 60deg), 55%);
$base-margin: 12px;


h1 {
	font-size: 32px;
}

h2 {
	font-size: 26px;
	.fa {
		color: $primary-color;
	}
}

a {
  color: lighten($primary-color, 20%);
}

.navbar-inverse {
	.navbar-brand {
		color: #ccc;
	}
	.navbar-nav {
		& > li {
			& > a {
				color: #ccc;
			}
		}
	}
}

.notice {
	color: #c00;
	font-weight: bolder;
}

.site-title {
  background: rgba($primary-color, .85);
  // background hsl(264,32%,33%);
  // background: #4f396f;
  color: #f0f0f0;
  text-shadow: 1px 1px #333;
  border-bottom: $primary-color;
	a {
		color: #f0f0f0;
		text-decoration: underline;
	}
}

.section-lead {
	margin: $base-margin 0;
	line-height: 1.7;
}

.section-paragraph {
	margin: $base-margin 0;
}

footer {
  margin: 25px 0 0;
  padding: 50px 0;
  background: darken($primary-color, 20%);
  color: #f0f0f0;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#information {
	.container {
		background: $information-color;
	}
}