    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <p id="copyright"></p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/oauth.min.js"></script>
    <script src="/js/config.js"></script>
    <script>
      var date = new Date();
      var year = date.getFullYear();
      document.getElementById('copyright').innerHTML = '&#169;' + '2016-' + year + ' Echizen Gentlemen\'s Style';
    </script>

</body>
</html>