<%- include('../_includes/_header', { title : '活動履歴 | 越前殿方流※', ogTitle : '活動履歴', path : 'activities/', type : 'article' }); %>

	<!-- Content Section -->
	<section class="site-title">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>越前殿方流※</h1>
				</div>
			</div>
		</div>
	</section>

	<!-- Content Section -->
	<section id="history">
		<div class="container bordered">
			<div class="row">
				<div class="col-lg-12">
					<h2><i class="fa fa-caret-square-o-right" aria-hidden="true"></i>活動履歴</h2>
					<ul>
						<li class="list-item">2015年3月24日<br>
						と～り　ネットのバンドメンバー募集掲示板に「東京女子流のカバーバンド メンバー募集」を書き込む。</li>
						<li class="list-item">2016年2月2日<br>
						tecking　そうとは知らず、同じ掲示板に「東京女子流やJuice=Juiceなど、演奏して楽しいアイドル楽曲のコピバンのメンバー募集」を書き込む。</li>
						<li class="list-item">2016年5月4日<br>
						tecking　と～りから「掲示板見ました」のメールを受け取る。</li>
						<li class="list-item">2016年5月12日<br>
						と～りとtecking　福井市内<%# のスタバ%>で初顔合わせ。その場でバンド結成を決め、とりあえず2人体制で練習を進めながらメンバーも募集することにする。</li>
						<li class="list-item">2016年5月16日<br>
						バンドのLINEグループをつくる。グループ名をとりあえず、東京女子流からの連想で「越前殿方流※」とする。最後の“※”は、アスタライトの“＊”のもじり＆コシヒカリ発祥の地・福井にちなんで。</li>
						<li class="list-item">2016年6月27日<br>
						<%# AMスタジオ（福井市文京5）Bスタジオ%>福井市内のスタジオで初練習。練習曲：東京女子流『大切な言葉』、Especia『ナイトライダー』。</li>
						<li class="list-item">2016年6月28日<br>
						Twitterアカウント（@egs_jp）開設、メールアドレス開設。</li>
						<li class="list-item">2016年6月30日<br>
						ウェブサイト（https://egsjp.github.io/）開設。</li>
						<li class="list-item">2016年8月24日<br>
						<%# AMスタジオ Bスタジオ%>福井市内のスタジオで練習。練習曲：東京女子流『運命』『大切な言葉』、Especia『ナイトライダー』、Juice=Juice『イジワルしないで 抱きしめてよ』。</li>
						<li class="list-item">2016年10月7日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオで練習。練習曲：東京女子流『大切な言葉』『ヒマワリと星屑』、Especia『ナイトライダー』。</li>
						<li class="list-item">2016年10月26日<br>
						<%# AMスタジオ Aスタジオ%>福井市内のスタジオで初めてヴォーカル合わせての全体練習。練習曲：東京女子流『大切な言葉』『ヒマワリと星屑』『運命』、Especia『ナイトライダー』。</li>
						<li class="list-item">2016年11月10日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオでヴォーカル合わせての全体練習。練習曲：東京女子流『大切な言葉』『ヒマワリと星屑』『運命』『White Love』、Especia『ナイトライダー』。</li>
						<li class="list-item">2016年11月15日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオで練習。練習曲：東京女子流『大切な言葉』『ヒマワリと星屑』『運命』、Especia『ナイトライダー』。</li>
						<li class="list-item">2016年11月21日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオで練習。練習曲：東京女子流『大切な言葉』『ヒマワリと星屑』『運命』『White Love』、Especia『ナイトライダー』。</li>
						<li class="list-item">2016年11月24日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオで『NONAME』との全体練習。練習曲：東京女子流『大切な言葉』『ヒマワリと星屑』『運命』『White Love』、Especia『ナイトライダー』。</li>
						<li class="list-item">2016年12月7日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオで『NONAME』との全体練習。練習曲：東京女子流『大切な言葉』『ヒマワリと星屑』『運命』『White Love』、Especia『ナイトライダー』。</li>
						<li class="list-item">2016年12月10日<br>
						ライヴハウス『LAKUYA』（福井市大手3）で1stライヴ。<br>
						メンバー：越前殿方流※（と～り〔g〕，tecking〔b・programming〕）　NONAME（那月茜・星月朔良・佐藤ほの〔vo〕）<br>
						セットリスト
							<ol>
								<li>ヒマワリと星屑 / 東京女子流</li>
								<li>ナイトライダー / Especia<br>
								（MC）</li>
								<li>White Love / SPEED（東京女子流バージョン）</li>
								<li>運命 / 東京女子流<br>
								（MC）</li>
								<li>大切な言葉 / 東京女子流</li>
							</ol>
						</li>
						<li class="list-item">2016年12月26日<br>
						福井市内<%# のミスド%>で次回ライヴに向けたミーティング。ヴォーカル・那月茜の参加が正式決定。</li>
						<li class="list-item">2017年1月12日<br>
						福井市内<%# のミスド%>で次回ライヴに向けたミーティング。ヴォーカル・苹果の参加が正式決定。</li>
						<li class="list-item">2017年2月2日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオでインストパート（通称「おっさんメン」）練習。練習曲：Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『運命』、Especia『ナイトライダー』、こぶしファクトリー『桜ナイトフィーバー』。</li>
						<li class="list-item">2017年2月9日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオでインストパート練習。練習曲：Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『大切な言葉』、Dorothy Little Happy『デモサヨナラ』、こぶしファクトリー『桜ナイトフィーバー』。</li>
						<li class="list-item">2017年2月16日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオで全体練習。練習曲：Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『大切な言葉』、Dorothy Little Happy『デモサヨナラ』、こぶしファクトリー『桜ナイトフィーバー』。</li>
						<li class="list-item">2017年2月22日<br>
						<%# Studio6117（福井市成和1）%>福井市内のスタジオでインストパート練習。練習曲：Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『大切な言葉』、Dorothy Little Happy『デモサヨナラ』、こぶしファクトリー『桜ナイトフィーバー』。</li>
						<li class="list-item">2017年3月2日<br>
						<%# Studio6117%>福井市内のスタジオで全体練習。練習曲：Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『大切な言葉』『運命』、Especia『ナイトライダー』、Dorothy Little Happy『デモサヨナラ』、こぶしファクトリー『桜ナイトフィーバー』。</li>
						<li class="list-item">2017年3月14日<br>
						<%# Studio6117%>福井市内のスタジオで全体練習。練習曲：Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『大切な言葉』『運命』、Especia『ナイトライダー』、Dorothy Little Happy『デモサヨナラ』、こぶしファクトリー『桜ナイトフィーバー』。</li>
						<li class="list-item">2017年3月23日<br>
						<%# Studio6117%>福井市内のスタジオで全体練習。練習曲：Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『大切な言葉』『運命』、Especia『ナイトライダー』、Dorothy Little Happy『デモサヨナラ』、こぶしファクトリー『桜ナイトフィーバー』。 %></li>
						<li class="list-item">2017年3月30日<br>
						<%# Studio6117%>福井市内のスタジオで全体練習。練習曲：東京女子流『ヒマワリと星屑』『大切な言葉』『運命』、Especia『ナイトライダー』、こぶしファクトリー『桜ナイトフィーバー』。</li>
						<li class="list-item">2017年4月1日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオでインストパート練習。練習曲：東京女子流『ヒマワリと星屑』『大切な言葉』『運命』、Especia『ナイトライダー』、こぶしファクトリー『桜ナイトフィーバー』。</li>
						<li class="list-item">2017年4月2日<br>
						イベントスペース『aキューブ』（あわら市春宮1）で2ndライヴ《予告編》。<br>
						メンバー：越前殿方流※（那月茜・苹果〔vo〕，と～り〔g〕，tecking〔b・programming〕）<br>
						セットリスト<br>
						第1部
							<ol>
								<li>ヒマワリと星屑 / 東京女子流<br>
								（MC）</li>
								<li>大切な言葉 / 東京女子流<br>
								（MC）</li>
								<li>桜ナイトフィーバー / こぶしファクトリー</li>
							</ol>
						第2部
							<ol>
								<li>ヒマワリと星屑 / 東京女子流<br>
								（MC）</li>
								<li>ナイトライダー / Especia<br>
								（MC）</li>
								<li>桜ナイトフィーバー / こぶしファクトリー</li>
							</ol>
						</li>
						<li class="list-item">2017年4月5日<br>
						<%# AMスタジオ Bスタジオ%>福井市内のスタジオでインストパート練習。練習曲：Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『大切な言葉』、こぶしファクトリー『桜ナイトフィーバー』。</li>
						<li class="list-item">2017年4月6日<br>
						<%# Studio6117%>福井市内のスタジオで全体練習。練習曲：Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『大切な言葉』、Dorothy Little Happy『デモサヨナラ』、こぶしファクトリー『桜ナイトフィーバー』。</li>
						<li class="list-item">2017年4月8日<br>
						ライヴハウス『LAKUYA』（福井市大手3）で2ndライヴ。<br>
						メンバー：越前殿方流※（那月茜・苹果〔vo〕，と～り〔g〕，tecking〔b・programming〕）<br>
						セットリスト
							<ol>
								<li>トリプル！ WONDERLAND / Negicco</li>
								<li>ヒマワリと星屑 / 東京女子流<br>
								（MC）</li>
								<li>デモサヨナラ / Dorothy Little Happy</li>
								<li>大切な言葉 / 東京女子流<br>
								（MC）</li>
								<li>桜ナイトフィーバー / こぶしファクトリー</li>
							</ol>
						</li>
						<li class="list-item">2017年4月21日<br>
						福井市内<%# のミスド%>で次回ライヴに向けたミーティング。</li>
						<li class="list-item">2017年5月18日<br>
						<%#  AMスタジオ Bスタジオ%>福井市内のスタジオでインストパート練習。<%# 練習曲：フィロソフィーのダンス『好感度あげたい！』、Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『運命』、Dorothy Little Happy『デモサヨナラ』。%>ツイキャス初配信（<a href="http://twitcasting.tv/egs_jp/movie/373333796" title="ツイキャスアーカイブへ">アーカイブページ</a>）。</li>
						<li class="list-item">2017年5月25日<br>
						<%# Studio6117%>福井市内のスタジオで全体練習。<%# 練習曲：フィロソフィーのダンス『好感度あげたい！』、Dorothy Little Happy『デモサヨナラ』、Negicco『トリプル！ WONDERLAND』、Negicco『トリプル！ WONDERLAND』、東京女子流『ヒマワリと星屑』『運命』。%>ツイキャス配信（<a href="http://twitcasting.tv/egs_jp/movie/375148121" title="ツイキャスアーカイブへ">アーカイブページ</a>）。</li>
					</ul>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>

	<!-- Content Section -->
	<section id="contact">
		<div class="container bordered">
			<div class="row">
				<div class="col-lg-12">
					<h2><i class="fa fa-caret-square-o-right" aria-hidden="true"></i>お問い合わせ</h2>
					<ul>
						<li class="list-item">Twitter
						<a href="https://twitter.com/egs_jp">@egs_jp</a>（リプをお送りください）</li>
						<li class="list-item">メール
						egsjp2016 [at] gmail.com（ [at] を@にしてお送りください）</li>
					</ul>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>

<%- include('../_includes/_footer'); %>